body {
    margin-top: 0;
    margin-left: 0;
    margin-right:0;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Merriweather", serif;
}
h1 {
    background-color: #ebf4f4;
    margin: 50px auto 0 auto;

    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #66BFBF;

 
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top:0;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top-container{
    background-color: #ebf4f4;   
    height: auto;
    margin-bottom: 5px;
    padding-top: 100px;
    position: relative;
}

.middle-container {
  
    margin: 100px 0;

}

.bottom-container {

    background-color: #66BFBF;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.top-cloud {
    position: absolute;
    top:50px;
    right:300px;    
}

.skill-row {

    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skills-img {
    width:25%;
    float: left;
    margin-right: 30px;
}

.web-dev {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 0 auto 20px auto;
    border-radius: 8;
  }
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.contact-me{
    
    padding-bottom: 15px;
    margin:0 auto 20px auto ;
}

hr {
    height: 0px;
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    border-bottom: none;
    margin: 100px auto;

    padding: 15px 0;

}

.skills {

    border-top: 30px;
}

.intro-class{
    width:30%;

    margin:auto;
}

p {
    line-height: 2;
}

a{
    color: #a7d5f3;

    font-family: 'Montserrat', sans-serif;
    margin: 10px auto;
}

a:hover {
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
}

.get {

    margin: 0 auto 20px auto;
}
