body {
    background-color: #F9F3CC;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Ubuntu', sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
    display: flex;
    flex-direction: column;
}

h3{
    white-space: nowrap;
}

.welcome-message{
    text-align: center;
    color: #A9A9A9;
    font-size: 4rem;
    margin-top: 50px;
    margin-left:auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    
    
    
}
.header{
    height: auto;
    position: relative; 
    padding-bottom:15%;
    padding-top: 5%;   
    color: #818FB4;
    height: 100vh;
}

.welcome-container{
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
    display: inline;
    white-space: nowrap;
    justify-content: center;
}

.intro-para{
    font-size: 1rem;
}

.intro-header{
     padding-bottom: 20px;
}

.skills{
    
    height: 100vh;
    background-color: #818FB4;
    padding-top: 5%;
    padding-bottom: 20%;
    color:#F9F3CC;
    
    
    

}

.row1{

    margin: 40px auto 10px auto;
    display: inline-block;
    text-align: justify;
    align-items: center;
}

.row2{
   margin: 40px auto 10px auto;
    display: inline-block;
    text-align: justify;
    align-items: center; 
    padding-bottom: 10px;
}



.skill-icon1{
    width: 128px;
    height:128px;
    float:left;
    margin-right: 10px;
}

.skill-icon2{
    width: 128px;
    height: 128px;    
    float:right;
    margin-left: 30px;
   
}

#profile-image{
    border-radius: 50%;
    width:30%;
    margin-left: 10px;
}

.row1 h2, .row2 h2{
    text-align: center;
}

.accomplishments{
    display: flex;
    align-items: center;
    height:100vh;
    justify-content: center;
}
#carouselExample{
    align-items: center;
    padding-top: 40px;
    max-width: 800px;

}

.carousel-inner{
    max-height: 600px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accomplishments h2{

    text-align: center;
        
}

.footer{
    background-color: #818FB4;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 0 auto 20px auto;
    border-radius: 8;
  }
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #818FB4, #818FB4);
    background-image: -moz-linear-gradient(top, #818FB4, #818FB4);
    background-image: -ms-linear-gradient(top, #818FB4, #818FB4);
    background-image: -o-linear-gradient(top, #818FB4, #818FB4);
    background-image: linear-gradient(to bottom, #818FB4, #818FB4);
    text-decoration: none;
  }

.contact-me{
    
    text-align: center;
    margin-top:20px;
  
}


